.news {
	margin-bottom: 64px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		max-width: 1080px;
		width: 100%;
		margin: 0 auto;
	}

	&__main {
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: 64px;
		position: relative;
		max-width: 508px;
		width: 100%;
	}

	&__box {
		background-color: $white;
		padding: 31px 34px;
		max-width: 476px;
		width: 100%;
		position: absolute;
		bottom: 16px;
		left: 16px;
		text-align: center;
	}

	&__date {
		color: $grey-3;
		font-size: 12px;
		margin-bottom: 2px;
		transition: color 0.5s linear;
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 6px;
		transition: color 0.5s linear;
	}

	&__text {
		margin-bottom: 9px;
		transition: color 0.5s linear;
	}

	&__ref {
		font-weight: 700;
		transition: color 0.5s linear;

		&:hover {
			color: $accent;
		}
	}

	&__site {
		max-width: 508px;
		width: 100%;
	}

	&__top {
		margin-bottom: 195px;
	}

	&__title {
		font-size: 52px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.56px;
		margin-bottom: 14px;
	}

	&__item {

		&:not(:last-child) {
			margin-bottom: 15px;
		}


		&:hover {

			.news__date,
			.news__text,
			.news__subtitle--small {
				color: $accent;
			}
		}

	}

	&__link {
		display: flex;
		justify-content: space-between;
	}

	&__photo {
		margin-right: 32px;
		max-width: 159px;
	}

	&__content {
		max-width: 317px;
	}

	&__subtitle--small {
		font-size: 15px;
	}
}